/* 인코딩설정 */
@charset "UTF-8";

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: #1c1c1c;
    text-decoration: none;
}

/* 사이트설정 */

.site {}

.site h1 {
    font-size: 30px;
    font-weight: normal;
}

.site a {}




/*내비게이션 플랙스가로정렬

    .menu {}
    .menu ul {display: flex;
        justify-content: flex-end;}
    .menu li {}
    .menu a {} */



.menu a {
    padding: 10px 15px;
    display: block;
    font-size: 14px;
}

.menu a:hover {
    background-color: #eee;
}


#menuBtn {
    padding: 6px 12px;
    background-color: #fff;
    border: solid 1px #aaa;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 15px;
}

#menuBtn:hover {
    background-color: #eee;
}

#menuBtn i {
    color: #888;
    font-size: 18px;
}

#menuBtn span {
    display: inline-block;
    text-indent: -9999px;
}


/* 헤더그림 */
.topimg {
    max-width: 100%;
    vertical-align: bottom;
}

.top {
    position: relative;
}

.catch {
    font-size: 28px;
    position: absolute;
    bottom: 7%;
    left: 3%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px
}



/* 개요 */
.summery {}

.summery a {
    display: block;
    background-color: #222;
    color: #fff;
    text-align: center;
}

.summery a:hover {
    opacity: 0.8;
}

.summery h3 {
    padding: 5px 0;
    font-size: 20px;
    font-weight: normal;
}

.summery p {
    padding: 15px 0;
    background-color: #524e3c;
    font-size: 12px;
}

.summery i {
    font-size: 38px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
}

.box6 div:nth-child(1)>div>a>i {
    background-color: #bdbd13;
}

.box6 div:nth-child(2)>div>a>i {
    background-color: #c58839
}

.box6 div:nth-child(3)>div>a>i {
    background-color: #859f46;
}

/*공지사항  */

.news {
    border: solid 5px #ddd;
    padding: 20px;
}

.news h2 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #888;
}

.news ul {}

.news li {}

.news a {
    padding: 5px;
    display: block;
    font-size: 14px;
    border-bottom: dotted 2px #ddd;
}

.news a:after {
    content: "";
    display: block;
    clear: both;
}


.news time {
    color: #888;
    font-weight: bold;
    margin-right: 0px;
    float: left;
    width: 60px;

}

.news .text {
    float: none;
    width: auto;
    margin-left: 60px;
}

/* sns메뉴 */
.follow {}

.follow ul {}

.follow li {}

.follow a {
    display: block;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 4px;
}

.follow li:nth-child(1) a {
    background-color: #1da1f2;
}

.follow li:nth-child(2) a {
    background-color: #1877f2;
}

.follow li:nth-child(3) a {
    background: rgb(64, 93, 230);
    background: -moz-linear-gradient(238deg, rgba(64, 93, 230, 1) 0%, rgba(88, 81, 219, 1) 23%, rgba(131, 58, 180, 1) 39%, rgba(193, 53, 132, 1) 52%, rgba(225, 48, 108, 1) 68%, rgba(252, 175, 69, 1) 83%, rgba(255, 220, 128, 1) 100%);
    background: -webkit-linear-gradient(238deg, rgba(64, 93, 230, 1) 0%, rgba(88, 81, 219, 1) 23%, rgba(131, 58, 180, 1) 39%, rgba(193, 53, 132, 1) 52%, rgba(225, 48, 108, 1) 68%, rgba(252, 175, 69, 1) 83%, rgba(255, 220, 128, 1) 100%);
    background: linear-gradient(238deg, rgba(64, 93, 230, 1) 0%, rgba(88, 81, 219, 1) 23%, rgba(131, 58, 180, 1) 39%, rgba(193, 53, 132, 1) 52%, rgba(225, 48, 108, 1) 68%, rgba(252, 175, 69, 1) 83%, rgba(255, 220, 128, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#405de6", endColorstr="#ffdc80", GradientType=1);
}

.follow i {
    margin-right: 10px;
    font-size: 22px;
}


/* sns 제목 */
.follow p {
    background-color: #ddd;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
}


/* 말풍선설정 */
.follow-info {
    position: relative;
    background: #dddddd;
}

.follow-info:after {
    top: 100%;
    left: 20%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(221, 221, 221, 0);
    border-top-color: #dddddd;
    border-width: 15px;
    margin-left: -15px;
}



/* 저작권 */

.copyright {}

.copyright p {
    font-size: 14px;
    color: #666;
}




/* 박스5 를 바형태로 디자인 */
.box5 {
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* 박스 왼쪽 오른쪽 여백설정 */
.boxA,
.box4,
.box5 {
    padding-left: 15px;
    padding-right: 15px;
}


/* 박스 위 아래 여백설정  */
.boxA {
    padding-top: 20px;
    padding-bottom: 10px;
}

.box4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.box6 {
    padding-top: 20px;
}

.box6-1,
.box6-2,
.box6-3 {
    padding-bottom: 10px;
}



/* 미디어쿼리구간######################################## */
/* 작은기기모바일 -400px  이하일때 */
@media (max-width:400px) {
    .site {
        transform: scale(0.6);
        transform-origin: left top;
    }
}



/* 모바일 - 599px 이하 */
@media(max-width:599px) {

    .menu a {
        padding: 10px 7px;
        display: block;
        font-size: 11px;
    }


    .catch {
        font-size: 12px;


        padding: 5px 10px
    }


}

/* 태블릿이전까지 767px 이하 */

@media (max-width:767px) {

    .menu a {
        border-top: 1px solid #333;
        text-align: center;
    }

    .menu {
        display: none;
    }

    #menuBtn {
        display: block;
    }


}




/* 태블릿 - 768px 이상 */
@media(min-width:768px) {

    /* 박스1과 박스2의 가로정렬 */

    /* 
플랙스방식 
.boxA {display: flex;
        justify-content: space-between;}
.box1 {width: 50%;}
.box2{}*/

    /* After방식 */

    .boxA:after {
        content: "";
        display: block;
        clear: both;
    }

    .box1 {
        float: left;
        width: 50%;
    }

    .box2 {
        float: right;
        width: auto;
    }

    /* 내비게이션 after가로정렬 */

    .menu {}

    .menu ul:after {
        content: "";
        display: block;
        clear: both;
    }

    .menu li {
        float: left;
        width: auto;
    }




    .menu {
        display: block !important;
    }

    #menuBtn {
        display: none;
    }







    /* 박스4-1 과 박스4-2 의 가로정렬 */


    .box4:after {
        content: "";
        display: block;
        clear: both;
    }

    .box4-1 {
        float: left;
        width: 70%;
        padding-right: 35px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .box4-2 {
        float: left;
        width: 30%;
    }

    /* 박스6가로정렬 */
    .box6:after {
        content: "";
        clear: both;
        display: block;
    }

    .box6-1 {
        float: left;
        width: 32%;
        margin-right: 2%;
    }

    .box6-2 {
        float: left;
        width: 32%;
        margin-right: 2%;
    }

    .box6-3 {
        float: left;
        width: 32%
    }



}

/* 웹  - 1440px 이상 */
@media(min-width:1440px) {

    .box3,
    .box4,
    .boxA-1,
    .copyright,
    .box6 {
        width: 1400px;
        margin-left: auto;
        margin-right: auto
    }

    .boxA {
        border-bottom: solid 1px #ddd;
        margin-bottom: 20px;
    }
}