<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃007</title>

    <!-- 외부스타일시트 -->
    <link rel="stylesheet" href="layout007_1.css">

    <!-- 그리드가이드
    <link rel="stylesheet" href="grid-guide.css">
-->
    <!-- 제이쿼리 CDN -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <script>

        $(document).ready(function(){

            // top클릭할때
            $('.top').click(function(){



                $('html,body'). animate({'scrollTop':0})

            })


        })

    </script>

</head>
<body>

    <div class="box1">
        <div class="box1-1">
            <div class="util">
                <ul>
                    <li><a href="#">login</a></li>
                    <li><a href="#">language</a></li>
                    <li><a href="#">search</a></li>
                </ul>
            </div>
        </div>



        <div class="box1-2">
            <header class="header">
                <h1>logo</h1>
                <span>&#8801;</span>
            <nav class="gnb">
                <ul>
                    <li><a href="#">menu1</a></li>
                    <li><a href="#">menu2</a></li>
                    <li><a href="#">menu3</a></li>
                    <li><a href="#">menu4</a></li>
                    <li><a href="#">menu5</a></li>
                    <li><a href="#">menu6</a></li>
                </ul>
            </nav>
            </header>
        </div>


        <div class="box1-3">
            <div class="hero">
                
                    <div class="title">Lorem ipsum dolor, sit amet consectetur</div>
                
                
                    <div class="txtbox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis temporibus ratione sunt, commodi expedita debitis explicabo accusamus suscipit asperiores perferendis in deleniti eius eaque iste. Porro deserunt quod temporibus est.</div>
                
                    <p class="more">more</p>
            </div>
        </div>
    </div>


    

    <div class="box2">
        <div class="box2-1">
            <strong>TXTBOX TITLE</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reprehenderit at iure. Soluta ratione rem, esse, rerum recusandae reiciendis harum fugit dolores beatae ducimus delectus vel sunt quae distinctio sint?</p>
            <span class="ico">아이콘</span>
        </div>



        <div class="box2-2">
            <strong>TXTBOX TITLE</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reprehenderit at iure. Soluta ratione rem, esse, rerum recusandae reiciendis harum fugit dolores beatae ducimus delectus vel sunt quae distinctio sint?</p>
            <span class="ico">아이콘</span>
        </div>


        <div class="box2-3">
            <strong>TXTBOX TITLE</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reprehenderit at iure. Soluta ratione rem, esse, rerum recusandae reiciendis harum fugit dolores beatae ducimus delectus vel sunt quae distinctio sint?</p>
            <span class="ico">아이콘</span>
        </div>


        <div class="box2-4">
            <strong>TXTBOX TITLE</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reprehenderit at iure. Soluta ratione rem, esse, rerum recusandae reiciendis harum fugit dolores beatae ducimus delectus vel sunt quae distinctio sint?</p>
            <span class="ico">아이콘</span>
        </div>
    </div>




    <div class="box3">
        <div class="innerbox3_1">
            <div class="box3-1">
                <div class="txtbox">
                    <strong>TXTBOX TITLE</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reprehenderit at iure. Soluta ratione rem, esse, rerum recusandae reiciendis harum fugit dolores beatae ducimus delectus vel sunt quae distinctio sint?</p>
                    <p class="more">자세히보기</p>
    
                </div>
    
                <div class="imgbox">
                    <img src="https://picsum.photos/id/2/500/300" alt="">
                </div>
        </div>

        </div>



        <div class="innerbox3_2">
            <div class="box3-2">
                <div class="txtbox">
                    <strong>TXTBOX TITLE</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reprehenderit at iure. Soluta ratione rem, esse, rerum recusandae reiciendis harum fugit dolores beatae ducimus delectus vel sunt quae distinctio sint?</p>
                    <p class="more">자세히보기</p>
    
                </div>
    
                <div class="imgbox">
                    <img src="https://picsum.photos/id/52/500/300" alt="">
                </div>
            </div>
        </div>



        <div class="innerbox3_3">
            <div class="box3-3">
                <div class="txtbox">
                    <strong>TXTBOX TITLE</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reprehenderit at iure. Soluta ratione rem, esse, rerum recusandae reiciendis harum fugit dolores beatae ducimus delectus vel sunt quae distinctio sint?</p>
                    <p class="more">자세히보기</p>
    
                </div>
    
                <div class="imgbox">
                    <img src="https://picsum.photos/id/251/500/300" alt="">
                </div>
            </div>
        </div>
    </div>



    <div class="box4">
        <div class="box4-1">
            <div class="map">
                <h3>contents Us</h3>
                <div class="mapbox">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3336.2905323349964!2d126.40465297568291!3d33.258885473466066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x350c5bc3e1cdc0bd%3A0x22be2eedc74c07a4!2z7Jew64-I!5e0!3m2!1sko!2skr!4v1699412850167!5m2!1sko!2skr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <ul>
                    <li>navigation1</li>
                    <li>navigation2</li>
                    <li>navigation3</li>
                </ul>
                </div>
            </div>
            <div class="snsset">
                <h3>SNS</h3>
                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagam</a></li>
                </ul>
            </div>
        </div>
        <div class="box4-2">
            <p>Copyright &copy; 2023. su. All rights reserved</p>
        </div>
        
        <div class="top">
            &#9650;
        </div>



    </div>


    
</body>
</html>