/* 언어설정 */
@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Poiret+One&display=swap');


/* reset */

* {margin: 0;
padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}


    /* 박스1 */

    .box1 {display: flex;
        flex-wrap: wrap;
        background-color: coral;
        width: 100%;
        padding-top: 20px;
        color: #fff;
    }
    .box1-1 {
        width: 30%;
        box-sizing: border-box;
        display: block;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box1-1 img {
        width: 80px;
        height: 80px;
        padding-bottom: 20px;
    }


    .box1-1 h1 {
        text-align: center;
        padding: 5px;
    }
    
    .box1-2 {
        width: 70%;
    
    }

    .box1-2 ul {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        
    } 

    .box1-2 li {
        padding: 20px;
    }

    
    .box1-2 a {
        color: #fff;
    }

    .box1-2 a:hover {
        color: greenyellow;
    }




    /* 박스2 */

    .box2 {
        height: 100%;
        width:100%;
        position: relative;
    }

    .hero {display: flex;
        flex-wrap: wrap;
    height: 400px;
    width: 100%;
    
    margin: 0 auto;
    
    }
    
    .hero>div {width: 50%;
        position: relative;
    }

    .hero .imgbox {
        background-image: url(img/fantasy-5268744_1280.jpg);
        background-position: center;
    }
        
    .hero .txtbox {
        display: block;
        background-color: aquamarine;
    }

    .hero .txtbox p {
        width: 50%;
        height: 30%;
        display: block;
        text-align: left;
        color: #666;
        
    }


    .txtbox p:nth-child(1) {
        
        padding-top: 80px;
        padding-left: 100px;
        font-size: 32px;
        font-weight: bold;
    }

    .txtbox p:nth-child(2) {
        
        padding-left: 100px;
        padding-top: 20px;
        font-size: 20px;
    }


    .localMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: burlywood;
        
        
    }
    
    .localMenu a {
        padding: 0 100px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        color: #fff;
    }

    .localMenu p {
        font-size: 24px;
        padding-bottom: 5px;
        font-weight: bold;
        
    }

    .localMenu span {
        font-size: 20px;
    }

    .localMenu a:nth-child(1) {
        width: 100%;
        height: 120px;
        background-color: #FF8BA8;
        
    }

    .localMenu a:nth-child(2) { 
        width: 100%;
        height: 120px;
        background-color: #E52525;
    }

    .localMenu a:nth-child(3) {
        width: 100%;
        height: 120px;
        background-color: #FF5968;
    }

    .localMenu a:nth-child(4) {
        width: 100%;
        height: 120px;
        background-color: #FFBDE3;
    }






    /* 박스3 */

    .box3 {
        width: 100%;
        height: 500px;
        background-color: plum;
        text-align: center;
        
    
    }

    .box3-1 {

        /*  
        width: 80%;
        display: flex;
        justify-self: center;
        flex-direction: column;
        margin-left: 10%;
        padding-top: 30px;
        background-color: crimson;
        */
        
        width: 80%;
margin: 0 auto;
height: auto;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
        
    }

    .box3-1 h1 {
        font-size: 32px;
        

    }


    .box3-1 p {
        width: 60%;
        height: 10%;
        margin-left: 20%;
        font-size: 16px;
        
    }

    .box3-2 {
        display: flex;
    }

    .box3-2 .acc {
        margin-top: 20px;
        margin-left: 15%;
    }

    .box3-2 .imgbox {
        background-image: url(https://img2.quasarzone.com/editor/2020/08/04/727e61935637763cce2d84c3ec4b67ff.jpg);
        width: 400px;
        height: 300px;
        background-position:430px bottom;
    
    }

.box3-2 .listbox { 
    display: flex;
        justify-content: flex-end;
        margin-left: 150px;
        align-items: center;
}

.box3-2 ul {
        display: flex;
        
        justify-content: center;
        
        align-items: center;
}

.box3-2 li {
    width: 30%;
    margin-left: 0px;
    margin-bottom: -40px;
    
}

.box3-2 li:nth-child(2) {
    margin-left: 100px;
}

.box3-2 .icon {
 font-size: 40px;
 padding-bottom: 20px;
}

.box3-2 p {
    font-size: 20px;
    color: #fff;
}

.box3-2 strong {
    font-size: 30px;
    color: #fff;


}

/* 박스4 */


.box4 {background-color: cornsilk;
    width: 100%;
    height:600px;

}


.box4-1 {

    width: 80%;
    display: flex;
margin: 0 auto;
height: auto;

justify-content: flex-start;
align-items: center;
}


.box4 h2 {
    text-align: center;
    padding-top: 35px;
}

.box4 .imgbox img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.box4 .ilstbox li {
    margin: 70px 30px;
}

.vid {
    position: absolute;
    right: 20%;
    bottom: -650px;
}

/* 박스5 */

.box5 {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #FF8BA8;
    
    justify-content: center;
}

.box5 .avv {
    width: 80%;
    height: 100%;
    display: flex;
    
}

.box5>div {width: 50%;}

.box5-1 {
    width: 100%;
    height: 100%;
    
}




.box5-2 {
    height: 80%;
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/04/28/18/39/gears-1359436_1280.png);
}
