<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃004</title>

    <!-- 외부스타일시트 -->
    <link rel="stylesheet" href="layout004.css">

    <!-- 그리드가이드 
    <link rel="stylesheet" href="grid-guide.css">
-->
</head>
<body>








<!--  짜부된 사진만들기
    <div class="img">
    
        <img src="https://picsum.photos/id/78/1000/1000" alt="">
    
    </div>


    <style>


        .img {
            width: 1000px;
            height: 1000px;
            background-color: red;
            border-radius: 10% 60% 40% 20% / 40% 10% 70% 10%;
            overflow: hidden;
        }
</style>
-->

<div class="box1">
    <header class="box1-1">
        
            <div class="logo">logo</div>
            <div class="nav">
                <ul>
                    <li><a href="#">menu1</a></li>
                    <li><a href="#">menu2</a></li>
                    <li><a href="#">menu3</a></li>
                    <li><a href="#">menu4</a></li>
                    <li><a href="#">menu5</a></li>
                    <li><a href="#">menu6</a></li>
                    <li><a href="#">menu7</a></li>
                </ul>
            </div>
            <div class="util">유틸</div>
        
    </header>
</div>


    <main id="wrap">


        <div class="box2">
            <div class="hero">
                <div class="txtBox">
                    <div class="axx">
                        <p>하마스 도발, 계산된 도박… 판 바꾸려 보복 감수</p>
                        <h1>로열티 프리 이미지와 비디오 클립을 어떤 방법으로 사용할 수 있나요?</h1>
                        <p class="aqq">Big버튼</p>
                    </div>
                </div>
                <div class="imgBox">
                    <svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><g transform="translate(407.472003901068 274.13790478050913)"><path d="M100.6 -149.2C146.1 -127.3 209.5 -126 241.1 -98C272.7 -70 272.4 -15.5 241.4 17.9C210.4 51.2 148.7 63.3 115.7 98.9C82.7 134.6 78.6 194 50.6 227.3C22.6 260.7 -29.1 268 -78.3 257.7C-127.5 247.3 -174.1 219.3 -179.2 176C-184.2 132.8 -147.8 74.4 -137.6 30.4C-127.3 -13.6 -143.2 -43.1 -136.2 -63.7C-129.2 -84.4 -99.2 -96 -72.7 -126.6C-46.1 -157.1 -23.1 -206.6 2.3 -210.1C27.6 -213.6 55.1 -171.1 100.6 -149.2" fill="#BB004B" ></path></g></svg>                </div>
            </div>
        </div>



        <div class="box3">
            <div class="titleBox">
                <h1>성형작약탄</h1>
                <p>성형작약, 혹은 성형작약탄(shaped charge)이란 특정 지점에 폭발물의 에너지를 집중적으로 투사하기 위하여 성형(成形) 된 작약(炸藥) 을 의미한다.</p>
            </div>


        <div class="listboxW">
            <div class="listBox1">
                <ul>
                    <li>
                        <img src="" alt="">
                        먼로효과
                    </li>
                    <li>
                        <h3>Munroe effect</h3>
                    </li>
                    <li>먼로효과는 1880년대 미국 해군의 어뢰창에서 근무를 하던 Charles Munroe 박사에 의하여 연구
                        노이만효과와 먼로효과는 동일하다.</li>
                </ul>
            </div>

            <div class="listBox2">
                <ul>
                    <li>
                        <img src="" alt="">
                        노이만효과
                    </li>
                    <li>
                        <h3>Neumann Effect</h3>
                    </li>
                    <li>
                        성형작약, 혹은 성형작약탄이란 특정 지점에 폭발물의 에너지를 집중적으로 투사하기 위하여 성형 된 작약 을 의미한다.
                        </li>
                </ul>
            </div>


            <div class="listBox3">
                <ul>
                    <li>
                        <img src="" alt="">
                        HEAT 탄
                    </li>
                    <li>
                        <h3>성형 작약탄</h3>
                    </li>
                    <li>주로 대전차용 포탄이나 대전차 미사일에 사용되는 성형작약탄(shaped charge)은 액상화한 금속을 초고속으로 분출하는 것으로 두꺼운 전차 장갑도 관통해 위력을 발휘한다.</li>
                </ul>
            </div>

            
        </div>
            

        </div>

        <div class="box4">
            <div class="box4-inner">
                <div class="box4-1">
                    <div class="title">
                        <h1>누가 내 머리에 똥쌌어?</h1>
                    </div>
                    <div class="txt">두더지는 비둘기에게 "네가 내 머리에 똥 쌌지?"라고 묻자 비둘기는 똥을 싸며 자신이 한 짓이 아니라고 한다. 이어서 말, 토끼, 염소, 소, 돼지에게도 하나같이 똑같은 대답들만 돌아올 뿐. 마지막에 파리가 두더지 머리에 떨어진 똥을 먹어치우더니 개가 한 짓이라고 하자 이에 두더지는 그 근방에 사는 개인 한스가 범인이라는 것을 알아차린다. 두더지가 똑같이 한스의 머리에 똥[1]을 싸서 복수한 뒤 기분 좋게 웃으며 땅굴 속으로 들어가는 것으로 끝난다.</div>
                    <div class="btn">
                        <p>김버튼씨</p>
                    </div>
                </div>
                <div class="box4-2">
                    <ul class="listBox">
                        <li>
                            <strong>크아아아아</strong>
                            <p>발록들이 도망갔다 투명드래곤이 짱이었따
                                그래서 발록들은 도망간 것이다</p>
                        </li>
                        <li>
                            <strong>크아아아아</strong>
                            <p>발록들이 도망갔다 투명드래곤이 짱이었따
                                그래서 발록들은 도망간 것이다</p>
                        </li>
                        <li>
                            <strong>크아아아아</strong>
                            <p>발록들이 도망갔다 투명드래곤이 짱이었따
                                그래서 발록들은 도망간 것이다</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="box5">
            <div class="box5-inner">
                <div class="titleBox">
                    <h1>최강의 투명드래곤</h1>
                    <p>투명드래곤 제1화 전문(全文).</p>
                </div>
                <div class="textBox">
                    드래곤중에서도 최강의 투명드래곤이 울부짓었다
투명드래곤은 졸라짱쎄서 드래곤중에서 최강이엇다
신이나 마족도 이겼따 다덤벼도 이겼따 투명드래곤은
새상에서 하나였다 어쨌든 걔가 울부짓었다
                </div>
            </div>
        </div>
    </main>






    



</body>
</html>