<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이어쩌구</title>

    <!-- 외부스타일시트 -->
    <link rel="stylesheet" href="layout_001.css">
<!--  
    <link rel="stylesheet" href="grid-guide.css">-->


</head>
<body>
    
<div class="box1">
    <div class="logo">
        <img src="/img/toplogo.png" alt="">
    </div>

    <nav class="eaa">
        <ul class="bqq">
            <li><a href="#">Sign In</a></li>
            <li><a href="#">My Starbucks</a></li>
            <li><a href="#">Customer Service & Ideas</a></li>
            <li><a href="#">Find a Store</a></li>
        </ul>
    </nav>

</div>



<div class="box2">
    <div class="txt">
        <p>스타벅스만의 특별한 혜택, 스타벅스 리워드</p>

        <p>스타벅스 회원이세요? 로그인을 통해 나만의 리워드를 확인해보세요.
            스타벅스 회원이 아니세요? 가입을 통해 리워드 혜택을 즐기세요.
            </p>

        <p>자세히보기</p>
    </div>
</div>



<div class="box3">
    <div class="txt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus modi ut ea similique,<br> laudantium neque? Porro commodi architecto, nisi officia, impedit eveniet officiis,<br> atque corporis possimus numquam dicta. Minima, quos!</p>
        
    </div>
</div>



<div class="box4">
    <div class="img">
        <img src="img/bakery1.jpg" alt="">
    </div>

    <div class="txt">
        <h2>회원가입 로그인</h2>
        <p>회원 가입 후, 스타벅스 e-Gift Card를 "나에게 선물하기"로 구매하시고, 편리하게 등록하세요!
            카드를 등록하여 스타벅스 리워드 회원이 되신 후, 첫 구매를 하시면 무료 음료쿠폰을 드립니다!
            </p>
        <p>자세히보기</p>
    </div>
</div>



<div class="box5">
    <div>
        <ul class="vaa">
            <li><a href="#">
                <img src="" alt="">
                <p>RESPONSIBILITY</p>
            </a></li>

            <li><a href="#">
                <img src="" alt="">
                <p>STARBUCKS REWARDS</p>
            </a></li>

            <li><a href="#">
                <img src="" alt="">
                <p>CORPORATE SALES</p>
            </a></li>
        </ul>
    </div>
</div>



<div class="box6">
    <div class="txt">
        <p>WHAT'S NEW</p>
        <p>스타벅스 회원이 아니세요? 가입을 통해 리워드 혜택을 즐기세요.</p>
    </div>
</div>


<div class="box7">
    <div class="txt">
        <p>e-Gift Card 선물하기</p>
        <p>스타벅스 e-Gift Card를 "나에게 선물하기"로 구매하시고</p>
    </div>
</div>



<div class="box8">
    <div>
        <ul class="txt">
            <li>
                <p>계속 탐색하세요</p>
                <P>기후 변화</P>
                <P>NASA의 가치</P>
            </li>


            <li>
                <img src="" alt="">
            </li>


            <li>
                <p>우리와 함께하세요</p>
                <p>우주 속의 인간</p>
                <p>NASA와 스페인어</p>
            </li>
        </ul>
    </div>
</div>


</body>
</html>