/* 언어설정 */


@charset 'UTF-8';

/* 리셋 */

* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;

}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: none;
    vertical-align: bottom;
}



/* 박스1설정 */


.box1-1 {display: none;}


.util {
    background-color: palegreen;
    height: 60px;

    }

.util ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.util li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.util li a {
    display: block;
    padding: 0 20px;
    font-size: 12px;

}

.util li a:hover {color: crimson;}



.box1-2 {}

.header {
    display: flex;
    width: 80%;
    margin: 0 auto;
    position: relative;

}

.header h1 {
    width: 20%;
}

.header .gnb {
    background-color: aquamarine;
    width: 80%;
}

.gnb ul {
    display: flex;
    justify-content: flex-end;
}

.gnb li {

}

.gnb a {
    display: block;
    padding: 20px;
    font-size: 20px;
}

.header span {
    font-size: 50px;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 1;
    right: 0;
    top: 0;

}

/* 태블릿 gnb 보이지 않음 */

.header .gnb {display: none;}



.box1-3 {
    height: 80vh;
    background-image: url(https://picsum.photos/id/73/1024/800);
    background-size: cover;
    background-position: center bottom;

}

.hero {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
}

.hero .title {
    font-size: 60px;
    color: #FFF;
    margin-bottom: 30px;
}

.hero .txtbox {
    width: 40%;
    height: 30%;
    font-size: 22px;
    color: #fff;

}

.hero .more {
    background-color: #FFF;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 18px;
}

.hero .more:hover {opacity: 0.6;}

/* 박스2설정 */


.box2>div {
    padding: 20px;
    box-sizing: border-box;
    height: 250px;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    }

    .box2>div:nth-child(1) {background-color: yellow;}
    .box2>div:nth-child(2) {background-color: ffff66;}
    .box2>div:nth-child(3) {background-color: rgb(245, 245, 66);}  
    .box2>div:nth-child(4) {background-color: rgb(255, 255, 86);}

    .box2 strong {
    font-size: 22px;
    display: block;
    margin-bottom: 20px;
    }

    .box2 p {
        width: 80%;
        
        
    }

    .box2 span {
        border: 1px solid #000;
        display: inline-block;
        padding: 10px;
        position: absolute;
        right: 10px;
        bottom: 10px;}

/* 태블릿 gnb 보이지 않음 */

.hero {display: none;}

    /* 박스3 */



    .box3>div {height: 450px;}

    .box3>div:nth-child(1) { background-color: rgb(252, 88, 170);}
    .box3>div:nth-child(2) { background-color: rgb(252, 160, 206);}
    .box3>div:nth-child(3) { background-color: rgb(199, 35, 117);}
    


    .box3>div>div {display: flex;   
    flex-direction: column;
    justify-content: space-between;
        padding: 20px 20px;
        align-items: flex-start;
        height: 100%;
    }

    .box3 .txtbox {
        width:  100%;
        padding-bottom: 20px;
    }
    .box3 .imgbox {
        width: 30%;
    }

    .txtbox strong {
        font-size: 22px;
        margin-bottom: 20px;
        display: block;
    }

.txtbox p {margin-bottom: 30px;}

.txtbox span {
    display: inline-block;
    background-color: #fff;
    padding: 10px 30px;
}

.imgbox {
    height: 60%;
    overflow: hidden;
    align-items: flex-end;
}

.imgbox img {width: 100%;}


/* 박스4 */

.box4 { 
    height: auto;
    position: relative;
    padding: 20px 0 0 0 ;
    overflow: hidden;
    box-sizing: border-box;

    }

.box4-1 {
    display: flex;
    margin: 0 auto;
    height: auto;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.box4-1>div {
    width: 100%;
    height: 100%;
}

.map {
    text-align: center;
}

.map h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.mapbox {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mapbox iframe {
    width: 100%;
    height: 80%;
}

.mapbox ul {
    margin-left: 20px;
}

.mapbox li {padding: 10px;}




/* 플레스 설정 

.snsset {
    background-color: #339999;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.snsset h3 {}

.snsset ul {
    display: flex;
    justify-content: flex-end;
}

.snsset li {}

.snsset a {}*/


/* 포지션활용 */

.box4-1>div.snsset {
    background-color: #33aaaa;
    position: relative;
    height: 100%;
}

.snsset h3 {
    position: absolute;
    right: 50%;
    bottom: 50%;
    margin-right: -100px;
    width: 200px;
    text-align: center;
}

.snsset ul {
    position: absolute;
    right: 50%;
    width: 200px;
    height: 50px;
    margin-bottom: -50px;
    margin-right: -100px;

    bottom: 50%;

}

.snsset li {
    float: left;
}

/*  
.snsset a {
    padding: 20px;
}
*/


.box4-2 {
    padding: 20px;
    background-color: #333;
    color: #fff;
}


.top {
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    border: 1px solid #000;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
}




/* 미디어쿼리####################################################################### */

/* 태블릿 768px 이상구간*/


@media(min-width:768px){

/* 설정 */

/* 박스1 설정구간 */



/* 박스2 설정구간 */
.box2 {display: flex;
    flex-wrap: wrap;}
.box2>div {width: 50%;}



 /* 박스3설정 */
.box3>div>div {flex-direction: row;}


.box3>div {
    height: 300px;
}

.box3>div>div {
    padding: 20px 10px;
    align-items: flex-start;
    height: 100%;
}

.box3 .txtbox {width: 60%;}

.box3 .imgbox {width: 30%;}

.txtbox strong {
    font-size: 22px;
    margin-bottom: 20px;
}

.txtbox p {
    margin-bottom: 30px;
}

.txtbox span {
    padding: 10px 30px;
}

.imgbox {
    height: 60%;
    align-items:flex-end;
}






}
/* 태블릿끝####################################################### */



/* 데스크탑 1024px 이상구간 */

@media(min-width:1024px){

    /* 설정 */
    
    /* 박스1 설정구간 */

    .box1-1 {display: block !important;}
    /*  important는 css 중에서 우선순위로 먼저
지정을 하고 가라는 의미로 CSS 파일중 1회만 사용권고 */

.header .gnb {display: block;}

.header span {display: none;}

.hero {
    display: flex;

}

    /* 박스2 설정 */
    
    .box2>div {width: 25%;}


     /* 박스3 설정 */

.box3>div>div {
    width: 90%;
    margin-left: auto;
}


    /* 박스4 */


.box4 {}

.box4-1 {
    height: 300px;
    flex-direction: row;
    
}

.box4-1>div {
    width: 50%;
    
}

.mapBox {width: 70%;
    display: flex;
  height: 100%;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start; }
.mapBox iframe{width: 80%;
height: 80%;}



/* position을 활용 */

.box4-1>div.snsset {
    background-color: #33aaaa;
    position: relative;
    height: 300px;
}

.snsset h3 {
    position: absolute;
    right: 0;
    bottom: 60px;
    width: 200px;
    margin-right: 0;
    text-align: center;

}

.snsset ul {
    position: absolute;
    right: 0;
    width: 200px;
    height: 50px;
    bottom: 0;
    margin-right: 0;
    margin-right: 0;
}

.snsset li {
    float: left;
}














} 
/*데스크탑 끝 ////////////////////////////////*/