<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃007</title>

    <!-- 외부스타일시트 -->
    <link rel="stylesheet" href="layout007.css">
    <!-- 그리드가이드 
    <link rel="stylesheet" href="grid-guide.css">-->
    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/5259710eda.js" crossorigin="anonymous"></script>
</head>
<body>
    


<div class="box1">
    <div>
        <p><a href="#">메뉴</a></p>
        <p><a href="#">메뉴</a></p>
        <p><a href="#">메뉴</a></p>
    </div>
</div>

<div class="box2">
    <div class="logo">
        <i class="fa fa-star" aria-hidden="true"></i>
        <p>자세히볼까?</p>
    </div>

<div>
    <nav class="nav">
        <ul>
            <li><a href="#">menu</a></li>
            <li><a href="#">menu</a></li>
            <li><a href="#">menu</a></li>
            <li><a href="#">menu</a></li>
            <li><a href="#">menu</a></li>
            <li><a href="#">menu</a></li>
        </ul>
    </nav>
</div>

    
</div>





<div class="box3">
    <div class="maa">
        <h2>&#9398;제목</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis asperiores laudantium,<br> in temporibus sed hic nostrum blanditiis  iste suscipit qui nemo nihil<br> consequatur maiores dolorum deserunt ducimus repellendus inventore ullam?</p>
        <button>자세히볼까?</button>
    </div>
</div>


<div class="box4">
    <div class="box4-1">
        <div>
            <h2>제목</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis asperiores laudantium</p>
            
        </div>
        <div class="icon">
            <p>&#9312;</p>
            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
        </div>
        </div>
    


    <div class="box4-2">
        <div>
            <h2>제목</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis asperiores laudantium</p>
            
        </div>
        <div class="icon">
            <p>&#9313;</p>
            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
        </div>
        </div>

    <div class="box4-3">
        <div>
            <h2>제목</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis asperiores laudantium</p>
            
        </div>
        <div class="icon">
            <p>&#9314;</p>
            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
        </div>
    </div>


    <div class="box4-4">
        <div>
            <h2>제목</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis asperiores laudantium</p>
            
        </div>
        <div class="icon">
            <p>&#9315;</p>
            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
        </div>
    </div>
</div>


<div class="box5">
    <div class="box5-1">
        <div>
            <h2>&#9399;제목</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis asperiores laudantium</p>
            <p>자세히볼까?</p>

        </div>
        
        <div class="img">
            img
        </div>

        </div>

        
    
    <div class="box5-2">
        <div>
            <h2>&#9400;제목</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis asperiores laudantium</p>
            <p>자세히볼까?</p>
        </div>
        
        <div class="img">
            img
        </div>
    </div>
        
    <div class="box5-3">
        <div>
            <h2>&#9401;제목</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis asperiores laudantium</p>
            <p>자세히볼까?</p>
        </div>
        
        <div class="img">
            img
        </div>
    </div>


</div>
<div class="box6">
    <div>
        <h2>제목</h2>
    </div>

    <div class="img">
        <p>img</p>
    </div>

    <ul>
        <li><a href="#">menu</a></li>
        <li><a href="#">menu</a></li>
        <li><a href="#">menu</a></li>
        <li><a href="#">menu</a></li>
        <li><a href="#">menu</a></li>
    </ul>
    <div>
        <h2>제목</h2>
        <div><a href="#"></a></div>
        <div><a href="#"></a></div>
        <div><a href="#"></a></div>
    </div>

</div>


<div class="box7">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis asperiores laudantium</p>
    <div icon>

    </div>
</div>
















</body>
</html>