<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃은003</title>

    <!-- 외부스타일시트 -->
    <link rel="stylesheet" href="layout003.css">

    <!-- 그리드뭐시기 
    <link rel="stylesheet" href="grid-guide.css">
-->
</head>
<body>
    


    <div class="box1">
        <div class="box1-1 logo">
            <img src="https://cdn.pixabay.com/photo/2016/11/09/23/16/music-1813100_640.png" alt="">
            <h1></h1>
        </div>

        <div class="box1-2 gnb">
            <ul>
                <li><a href="#">menu1</a></li>
                <li><a href="#">menu2</a></li>
                <li><a href="#">menu3</a></li>
                <li><a href="#">menu4</a></li>
                <li><a href="#">menu5</a></li>
                <li><a href="#">menu6</a></li>
                <li><a href="#">menu7</a></li>
                <li><a href="#">menu8</a></li>
            </ul>
        </div>
    </div>



    <div class="box2">
        <div class="hero">
        <div class="txtbox">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo tempore architecto nemo</p>
            <p>dolorem odio totam voluptates aspernatur animi</p>
        </div>

        <div class="imgbox">
            이미지를 넣어주세요
        </div>
    </div>
        <div class="localMenu">
            <a href="#">
                <div class="menu1">
                    <p>adipisicing</p>
                    <span>more</span>
                </div>
            </a>
            
            <a href="#">
                <div class="menu2">
                    <p>elit</p>
                    <span>more</span>
                </div>
            </a>
            
            <a href="#">
                <div class="menu3">
                    <p>consectetur</p>
                    <span>more</span>
                </div>
            </a>
            
            <a href="#">
                <div class="menu4">
                    <p>sit amet</p>
                    <span>more</span>
                </div>
            </a>
        </div>
    </div>



    <div class="box3">
        <article class="box3-1">
            <h1>title</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  Reiciendis officiis molestiae facilis magni voluptatem, impedit sunt ipsum ea veniam expedita illum tempora accusantium assumenda doloribus est corrupti ut modi sit!</p>

        </article>


        <div class="box3-2">
            <div class="acc">
                <div class="imgbox">
                </div>
            </div>

            <div class="listbox">
                <ul>
                    <li><a href="#">
                        <p class="icon">&#9763;</p>
                        <strong>title</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    </a>
                </li>

                    <li><a href="#">
                        <p class="icon">&#9763;</p>
                        <strong>title</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                    </a>
                </li>
                </ul>
            </div>
        </div>

        

    </div>



    <div class="box4">
        <h2>제목</h2>
        <div class="box4-1">

            <div class="imgbox">
                <ul>   <!-- ul의 크기값(가로,세로)을 설정을 한후 relative를 준다
                    li를 모든 아이들을 똑같이 같은구간에 붙여놓는다. 
                    4번의 이미지가 보이는게 맞다-->
                    <li><img src="https://cdn.pixabay.com/photo/2012/04/24/17/38/warning-40593_640.png" alt=""></li>
                    <li><img src="https://cdn.pixabay.com/photo/2013/07/13/10/05/dino-156509_640.png" alt=""></li>
                    <li><img src="https://cdn.pixabay.com/photo/2015/01/31/12/36/cat-618470_640.jpg" alt=""></li>
                    <li><img src="https://cdn.pixabay.com/photo/2016/08/11/08/37/potatoes-1585057_1280.jpg" alt=""></li>
                </ul>
            </div>


            <div class="ilstbox">
                <ul>
                    <li>
                        <strong>이미지어쩌구</strong>
                        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</P>
                    </li>


                    <li>
                        <strong>이미지어쩌구</strong>
                        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</P>
                    </li>


                    <li>
                        <strong>이미지어쩌구</strong>
                        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</P>
                    </li>


                    <li>
                        <strong>이미지어쩌구</strong>
                        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</P>
                    </li>
                </ul>
            </div>


            <div class="vid">
            <video src="img/bg1.mp4" alt="" width="600" height="auto" autoplay muted loop>

        </div>
            
        </div>
    </div>



    <div class="box5">
        <div class="avv">
            <div class="box5-1">
                <div class="title">title</div>

                <div class="listbox">
                    <ul>
                        <li>리스트</li>
                        <li>리스트</li>
                    </ul>
                </div>

                <div class="btnbox">
                    <p>button</p>
                    <p>button</p>
                </div>
            </div>

            <div class="box5-2">
                이미지를 넣어주세요
            </div>
        </div>
    </div>



    <div class="box6">
        <div class="box6-1">
            <strong>title</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odio ipsum totam.</p>
        </div>

        <div class="box6-2">
            이미지를 넣어주세요
        </div>
        
        <div class="box6-3">
            <strong>title</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odio ipsum totam.</p>
        </div>
    </div>



    <div class="box7">
        <div class="box7-1">
                <div class="container">
                    이미지를 넣어주세요
                </div> 
                <p class="left">L</p>
                <p class="right">R</p>
            </div>
        <div class="box7-2">
            <div class="trailer">
                <ul>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                    <li><img src="" alt=""></li>
                </ul>
            </div>
        </div>
    </div>



    <div class="box8">
        <div class="box8-1">
            이미지박스
        </div>

        <div class="box8-2">
            텍스트박스
        </div>
    </div>



    <div class="box9">
        <div class="box9-1">텍스트박스</div>
        <div class="box9-2">input박스</div>
    </div>



    <div class="box10">
        <div class="box10-1">bottomLogo</div>
        <div class="box10-2">sitemap</div>
    </div>






</body>
</html>