/* 언어 */

@charset 'UTF-8';


/* reset */

* {
    margin: 0;
    padding: 0;

}
ul, li {list-style: none;}

a {text-decoration: none;
    color: #fff;}

img {
    border: none;
    vertical-align: bottom;
}

/* 배경화면설정 */

.bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-image: url(img/bgLine.png);
    z-index: 1;
    opacity: 0.3;
}

h1 {
    position: fixed;
    left: 50px;
    top: 50px;
    color: #fff;
    font-size: 50px;
    z-index: 10;
}


section {
    width: 100%;
    height: 500px;
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -250px;
    overflow: hidden;
    z-index: 2;
}

section img {
    width: 100%;
    position: absolute;
    height: auto;
    top: -150px;
    left: 0;
}

/* nav */

.gnb {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 50%;
    background-image: url(img/tr.png);
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;

}

.gnb li {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.gnb>li:hover>a {
    transform: translateY();
}


/* 2뎁스 */

.gnb div {
    position: absolute;
    width: 200px;
    height: 300px;
    background-image: url(img/tr.png);
    border: 1px solid #000;
    box-sizing: border-box;
    left: 0;
    top: -50px;
    position: relative;

}


.gnb p {
    height: 90px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #333;
}
.gnb img {
    width: 100%;
    opacity: 0.5;
}

.gnb ul {
    position: absolute;
    bottom: 0;
    left: 0;
}

.gnb ul li {

}

.gnb ul a {

}


.gnb>li:hover div{
    margin-top: -100px;
    transform: rotateY(360deg);
    opacity: 1;    

}
.gnb>li.on div{
    margin-top: -100px;
    transform: rotateY(360deg);
    opacity: 1;    

}


